@{
    Layout = ""; 
}
<link rel="stylesheet" href="~/Plugins/ExternalAuth.Wechat/Content/wechatstyles.css" />
<div class="wechat-login-block">
    <div class="buttons">
        <a asp-controller="wechatauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="wechat-btn"></a>
    </div>
</div>